* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*
    Navbar
*/

.navbar {
  padding: 8px 16px;
  background-color: #f73859;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.navbar .navbar-menu {
  display: flex;
  align-items: center;
}

.navbar .navbar-menu button {
  background-color: transparent;
  border: none;
  font-size: 32px;
  padding: 8px;
  cursor: pointer;
  color: white;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo h1 {
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  user-select: none;
}

.navbar .navbar-navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  background-color: #f73859;
  overflow: hidden;
}

.navbar .navbar-navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
  font-size: 18px;
}

/*
    Main Content
*/

main {
  padding: 32px;
  flex: 1;
}

.content {
  margin: 0 auto;
  min-height: 100%;
}

.content .content-heading {
  font-weight: normal;
}

/*
    Restaurants
*/

.restaurants {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin: 32px 0;
}

/*
    Movie Item
*/

.restaurant-item {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.restaurant-item-header {
  position: relative;
}

.restaurant-item .restaurant-item-header .restaurant-item-header-image {
  width: 100%;
}

.restaurant-item .restaurant-item-header .restaurant-item-header-rating {
  position: absolute;
  padding: 8px;
  bottom: 20px;
  left: 0;
  display: inline-block;
  background-color: black;
  color: white;
}

.restaurant-item
  .restaurant-item-header
  .restaurant-item-header-rating
  .restaurant-item-header-rating-score {
  margin-left: 10px;
}

.restaurant-item .restaurant-item-content {
  padding: 16px;
}

.restaurant-item .restaurant-item-content h3 {
  margin: 0 0 10px 0;
}

.restaurant-item .restaurant-item-content h3 a {
  color: #db0000;
  text-decoration: none;
}

.restaurant-item .restaurant-item-content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}

/*
    Restaurant
*/

.restaurant {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px 16px;
}

.restaurant .restaurant-image {
  width: 100%;
  max-width: 400px;
}

.restaurant .restaurant-info h4 {
  margin: 8px 0;
}

/*
    Footer
*/

footer {
  background-color: #f2f2f2;
  padding: 16px;
}

footer p {
  text-align: center;
  color: #aaaaaa;
}

footer p a {
  color: #f73859;
  text-decoration: none;
}
