* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*
    Navbar
*/

.navbar {
  padding: 8px 16px;
  background-color: #D83A56;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.navbar .navbar-menu {
  display: flex;
  align-items: center;
}

.navbar .navbar-menu button {
  background-color: transparent;
  border: none;
  font-size: 32px;
  padding: 8px;
  cursor: pointer;
  color: white;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo h1 {
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  user-select: none;
}

.navbar .navbar-navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  background-color: #D83A56;
  overflow: hidden;
}

.navbar .navbar-navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
  font-size: 21px;
}

/*
    Main Content
*/

main {
  flex: 1;
}

.content {
  padding: 16px;
  margin: 0 auto;
  min-height: 100%;
}

.content .content-heading {
  overflow: hidden;
  font-weight: 500;
  text-align: center;
}

.content .content-heading:before,
.content .content-heading:after {
  background-color: #333;
  color: #333;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.content .content-heading:before {
  right: 0.5em;
  margin-left: -50%;
}

.content .content-heading:after {
  left: 0.5em;
  margin-right: -50%;
}

/*
    Restaurants
*/

.restaurants {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin: 32px 0;
}

/*
    Restaurant Item
*/

.restaurant-item {
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.restaurant-item a,
.restaurant-item a:hover {
  text-decoration: none;
  color: inherit;
}

.restaurant-item-header {
  position: relative;
}

.restaurant-item .restaurant-item-header .restaurant-item-header-image {
  width: 100%;
  height: 240px;
}

.restaurant-item .restaurant-item-header .restaurant-item-header-rating {
  position: absolute;
  padding: 8px;
  bottom: 20px;
  left: 0;
  display: inline-block;
  background-color: #D83A56;
  color: white;
}

.restaurant-item
  .restaurant-item-header
  .restaurant-item-header-rating
  .restaurant-item-header-rating-score {
  margin-left: 10px;
}

.restaurant-item .restaurant-item-content {
  padding: 16px;
}

.restaurant-item .restaurant-item-content h2 {
  margin: 0 0 10px 0;
  color: #D83A56;
  text-decoration: none;
}

.restaurant-item .restaurant-item-content h3 {
  margin: 0 0 10px 0;
  font-size: 12px;
}

.restaurant-item .restaurant-item-content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  text-align: justify;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.link-navigation {
  text-decoration: none;
  color: black;
}
/*
    Restaurant
*/

.card-restaurant-detail {
  margin: 0 auto;
  padding: 15px;
  background-color: white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.card-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
}

.card-restaurant-detail .restaurant-title {
  overflow: hidden;
  font-size: 24px;
  color: #D83A56;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.card-restaurant-detail .restaurant-title:before,
.card-restaurant-detail .restaurant-title:after {
  background-color: #333;
  color: #333;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.card-restaurant-detail .restaurant-title:before {
  right: 0.5em;
  margin-left: -50%;
}

.card-restaurant-detail .restaurant-title:after {
  left: 0.5em;
  margin-right: -50%;
}

.card-restaurant-detail .restaurant-image {
  width: 100%;
  border-radius: 5px;
}

.card-restaurant-detail .card-text {
  font-size: 18px;
  margin: 5px 0;
}

.card-restaurant-detail .category {
  display: inline-block;
  background-color: #D83A56;
  padding: 5px 0;
  color: #fff;
  width: 30%;
  font-size: 16px;
  border-radius: 30px;
  margin: 5px 0;
  text-align: center;
}

.foods,
.drinks {
  display: inline-block;
}

#restaurant-review {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 16px;
  align-items: stretch;
}

/* 
  Review 
*/

.review-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.review-content,
.review-photo {
  padding: 10px;
}

.review-photo {
  font-size: 24px;
}

.review-info {
  display: flex;
  flex-direction: row;
}

.review-info .review-name{
  font-weight: bold;
  padding-right: 20px;
}

.review-info .review-date {
  font-size: 12px;
  padding-top: 3px;
}

/*
    Form Review
*/

#form-review{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  padding: 15px;
  background-color: white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.form-review{
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  width: 100%;
}

.form-review label,
.form-review input,
.form-review textarea {
  margin-bottom: 10px;
}

.form-review label{
  font-weight: 600;
}

.input-text, .input-textarea{
  font-family: "Poppins", sans-serif;
  width: 100%;
  font-size: 16px;
}

.input-textarea{
  height: 100px;
}

.input-text:focus, .input-textarea:focus{
  outline: #D83A56;
}

.form-review button {
  background-color: #D83A56;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  height: 45px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.form-review button:hover{
  background-color: #ee2b4c;
}
/*
    Footer
*/

footer {
  background-color: #f2f2f2;
  padding: 16px;
}

footer p {
  text-align: center;
  color: #D83A56;
}

/* 
  Skip to Content 
  */
.skip-link {
  position: absolute;
  text-decoration: none;
  top: -40px;
  left: 0;
  background-color: #D83A56;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

/*
   Like
*/

.like {
  font-size: 18px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #D83A56;
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 
  Spinner
 */
#spinner {
  visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80px;
  height: 80px;
  border: 2px solid #f2f2f2;
  border-top: 3px solid #D83A56;
  border-radius: 100%;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#spinner.show {
  visibility: visible;
}
